<section id="registerNewUser" #registerNewUser>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <div class="content p-3 bg-white">
          <div class="logo text-center">
            <img src="./assets/images/logo.svg" alt="logo" />
          </div>
          <div class="form">
            <form
              [formGroup]="resetPasswordForm"
              (ngSubmit)="onResetPassword(myFormReset)"
              #myFormReset="ngForm"
            >
              <h2 class="text-capitalize">reset password</h2>
              <p>please enter your OTP or check your inbox</p>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <div class="input-group mb-1">
                      <span class="input-group-text" id="basic-addon4">
                        <i class="fa-solid fa-envelope"></i>
                      </span>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Enter your email"
                        aria-describedby="basic-addon4"
                        formControlName="email"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <div class="input-group mb-1">
                      <span class="input-group-text" id="basic-addon2">
                        <i class="fa-solid fa-globe"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="OTP"
                        aria-describedby="basic-addon2"
                        formControlName="seed"
                      />
                    </div>
                    <ng-container
                      *ngIf="
                        formReset['seed'].errors &&
                        (formReset['seed'].touched || formReset['seed'].dirty)
                      "
                    >
                      <div class="row align-items-center">
                        <div class="col-1">
                          <i class="fa-solid fa-circle-info text-danger"></i>
                        </div>
                        <div class="col-10">
                          <p
                            class="text-danger w-100 mx-auto p-1 mb-0"
                            *ngIf="formReset['seed'].getError('required')"
                          >
                            Code is required
                          </p>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <div class="input-group mb-1 position-relative">
                      <span class="input-group-text" id="basic-addon3">
                        <i class="fa-solid fa-lock"></i>
                      </span>
                      <input
                        #password
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        aria-label="Password"
                        aria-describedby="basic-addon3"
                        formControlName="password"
                      />
                      <span
                        class="show-password position-absolute top-50"
                        role="button"
                        (click)="
                          passwordShow = true;
                          passwordShow == true
                            ? (password.type = 'text')
                            : (password.type = 'password')
                        "
                        [ngClass]="{ 'd-none': passwordShow }"
                      >
                        <i class="fa-solid fa-eye"></i>
                      </span>
                      <span
                        class="hide-password position-absolute top-50 d-none"
                        role="button"
                        (click)="
                          passwordShow = false;
                          passwordShow == false
                            ? (password.type = 'password')
                            : (password.type = 'text')
                        "
                        [ngClass]="{ 'd-none': !passwordShow }"
                      >
                        <i class="fa-solid fa-eye-slash"></i>
                      </span>
                    </div>
                    <ng-container
                      *ngIf="
                        formReset['password'].errors &&
                        (formReset['password'].touched ||
                          formReset['password'].dirty)
                      "
                      class="mb-3"
                    >
                      <div class="row align-items-center">
                        <div class="col-1">
                          <i class="fa-solid fa-circle-info text-danger"></i>
                        </div>
                        <div class="col-7">
                          <p
                            class="text-danger w-100 mx-auto p-1 mb-0"
                            *ngIf="formReset['password'].getError('required')"
                          >
                            Password is required
                          </p>
                          <p
                            class="text-danger w-100 mx-auto p-1 mb-0"
                            *ngIf="formReset['password'].getError('pattern')"
                          >
                            At least 6 charecters, one small letter, one capital
                            letter, and one special character
                          </p>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <div class="input-group mb-1 position-relative">
                      <span class="input-group-text" id="basic-addon6">
                        <i class="fa-solid fa-lock"></i>
                      </span>
                      <input
                        #Repassword
                        type="password"
                        class="form-control"
                        placeholder="confirm-password"
                        aria-label="Password"
                        aria-describedby="basic-addon6"
                        formControlName="confirmPassword"
                      />
                      <span
                        class="show-password position-absolute top-50"
                        role="button"
                        (click)="
                          confirmPasswordShow = true;
                          confirmPasswordShow == true
                            ? (Repassword.type = 'text')
                            : (Repassword.type = 'password')
                        "
                        [ngClass]="{ 'd-none': confirmPasswordShow }"
                      >
                        <i class="fa-solid fa-eye"></i>
                      </span>
                      <span
                        class="hide-password position-absolute top-50 d-none"
                        role="button"
                        (click)="
                          confirmPasswordShow = false;
                          confirmPasswordShow == false
                            ? (Repassword.type = 'password')
                            : (Repassword.type = 'text')
                        "
                        [ngClass]="{ 'd-none': !confirmPasswordShow }"
                      >
                        <i class="fa-solid fa-eye-slash"></i>
                      </span>
                    </div>
                    <ng-container
                      *ngIf="
                        formReset['confirmPassword'].errors &&
                        (formReset['confirmPassword'].touched ||
                          formReset['confirmPassword'].dirty)
                      "
                      class="mb-3"
                    >
                      <div class="row align-items-center">
                        <div class="col-1">
                          <i class="fa-solid fa-circle-info text-danger"></i>
                        </div>
                        <div class="col-10">
                          <p
                            class="text-danger w-100 mx-auto p-1 mb-0"
                            *ngIf="
                              formReset['confirmPassword'].getError('required')
                            "
                          >
                            Field is required
                          </p>
                          <p
                            class="text-danger w-100 mx-auto p-1 mb-0"
                            *ngIf="
                              formReset['confirmPassword'].getError('mismatch')
                            "
                          >
                            Enter semilar password please
                          </p>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <button
                    type="submit"
                    class="btn fw-semibold text-white w-100"
                    [ngClass]="{'disabled btn-inactive': !resetPasswordForm.valid,
                        'btn-active':resetPasswordForm.valid,}"
                  >
                    Reset password
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
