<section class="p-4 position-relative">
  <div class="icon-close d-flex justify-content-end align-items-center">
    <span (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </span>
  </div>

  <mat-card class="example-card border-0">
    <div class="row">
      <div class="col-md-8">
        <div class="py-3 d-flex flex-column justify-content-center h-100">
          <div class="mb-2">
            <span class="h6 text-capitalize"> name: </span>
            <span> {{ data.userName }}</span>
          </div>
          <div class="mb-2">
            <span class="h6 text-capitalize"> country: </span>
            <span> {{ data.country }}</span>
          </div>
          <div class="mb-2">
            <span class="h6"> Phone number: </span>
            <span> {{ data.phoneNumber }}</span>
          </div>
          <div class="mb-2">
            <span class="h6 text-capitalize"> email: </span>
            <span> {{ data.email }}</span>
          </div>
          <div class="mb-2">
            <span class="h6 text-capitalize"> role: </span>
            <span> {{ data.group.name }}</span>
          </div>
          <div class="mb-2">
            <span class="h6"> Member since: </span>
            <span> {{ data.creationDate | date : "short" }}</span>
          </div>
          <div>
            <span class="h6"> Last seen: </span>
            <span> {{ data.modificationDate | date : "short" }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex align-items-start justify-content-center py-3">
          <ng-container *ngIf="data.imagePath; else noImg">
            <img
              class="w-100"
              [src]="baseUrlImg + data.imagePath"
              [alt]="data.name"
            />
          </ng-container>
          <ng-template #noImg>
            <img
              class="w-100"
              src="./assets/images/dummy-image-square.jpg"
              class="w-75"
              alt="no profile image"
            />
          </ng-template>
        </div>
      </div>
    </div>
  </mat-card>
</section>
