<section>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <div class="content p-3 bg-white">
          <div class="logo text-center">
            <img src="../../assets/images/logo.svg" alt="logo" />
          </div>
          <div class="form">
            <form [formGroup]="logInForm" (ngSubmit)="onLogin(logInForm)">
              <h2>Log in</h2>
              <p>
                Welcome back! please enter your details
              </p>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <div class="input-group mb-1">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-mobile"></i>
                      </span>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Enter your email"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                        formControlName="email"
                      />
                    </div>
                    <ng-container
                      *ngIf="
                        formData['email'].errors &&
                        (formData['email'].touched || formData['email'].dirty)
                      "
                    >
                      <div class="row align-items-center">
                        <div class="col-1">
                          <i class="fa-solid fa-circle-info text-danger "></i>
                        </div>
                        <div class="col-10">
                          <p
                            class="text-danger mx-auto w-100 p-1 mb-0"
                            *ngIf="formData['email'].getError('required')"
                          >
                            Email is required
                          </p>
                          <p
                            class="text-danger mx-auto p-1 mb-0"
                            *ngIf="formData['email'].getError('email')"
                          >
                            Email invalid format
                          </p>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <div class="input-group mb-1 position-relative">
                      <span class="input-group-text" id="basic-addon2">
                        <i class="fa-solid fa-lock"></i>
                      </span>
                      <input
                        #password
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        aria-label="Password"
                        aria-describedby="basic-addon2"
                        formControlName="password"
                      />
                      <span
                        class="show-password position-absolute top-50"
                        role="button"
                        (click)="
                          passwordShow = true;
                          passwordShow == true
                            ? (password.type = 'text')
                            : (password.type = 'password')
                        "
                        [ngClass]="{ 'd-none': passwordShow }"
                      >
                        <i class="fa-solid fa-eye"></i>
                      </span>
                      <span
                        class="hide-password position-absolute top-50 d-none"
                        role="button"
                        (click)="
                          passwordShow = false;
                          passwordShow == false
                            ? (password.type = 'password')
                            : (password.type = 'text')
                        "
                        [ngClass]="{ 'd-none': !passwordShow }"
                      >
                        <i class="fa-solid fa-eye-slash"></i>
                      </span>
                    </div>
                    <ng-container
                      *ngIf="
                        formData['password'].errors &&
                        (formData['password'].touched ||
                          formData['password'].dirty)
                      "

                    >
                      <div class="row align-items-center">
                        <div class="col-1">
                          <i class="fa-solid fa-circle-info text-danger"></i>
                        </div>
                        <div class="col-10">
                          <p
                            class="text-danger mx-auto p-1 mb-0"
                            *ngIf="formData['password'].getError('required')"
                          >
                            Password is required
                          </p>
                          <p
                            class="text-danger mx-auto p-1 mb-0"
                            *ngIf="formData['password'].getError('pattern')"
                          >
                            Password Invalid Format: it must be at least 6
                            chars, contains at least one small letter, one
                            capital letter, and one special caracter
                          </p>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-12">
                  <div
                    class="d-flex justify-content-between align-items-center mb-4"
                  >
                    <a
                      routerLink="/auth/register"
                      class="text-decoration-none register"
                      >Register now?</a
                    >
                    <a
                      routerLink="/auth/requestGeneratePassword"
                      class=" text-decoration-none forgot-password"
                      >Forgot password?</a
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn text-capitalize fw-semibold text-white w-100"
                    [ngClass]="{'disabled btn-inactive': !logInForm.valid,
                  'btn-active':logInForm.valid,}"
                  >
                    login
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
