<section>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <dir class="col-md-6">
        <div class="content p-3 bg-white">
          <div class="logo text-center">
            <img src="./assets/images/logo.svg" alt="logo" />
          </div>
          <div class="form">
            <form [formGroup]="requestResetPasswordForm" (ngSubmit)="onRequestPesetPassword(requestResetPasswordForm)">
              <h2 class="text-capitalize">Forgot your password?</h2>
              <p>
                No worries! Please enter your email and we will send a password reset link
              </p>
              <div class="mb-3">
                <div class="input-group mb-1">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter your email"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    formControlName="email"
                  />
                </div>
                <ng-container
                  *ngIf="formData['email'].errors && (formData['email'].touched || formData['email'].dirty)"
                >

                <div class="row align-items-center">
                  <div class="col-1">
                    <i class="fa-solid fa-circle-info text-danger"></i>
                  </div>
                  <div class="col-10">
<p
                    class="text-danger  p-1 mb-0"
                    *ngIf="formData['email'].getError('required')"
                  >
                    Email is required
                  </p>
                  <p
                    class="text-danger  p-1 mb-0"
                    *ngIf="formData['email'].getError('email')"
                  >
                    Email invalid format
                  </p>
                    </div>
                    </div>
                </ng-container>
              </div>
              <div
                class="d-flex justify-content-end align-items-center mb-4"
              >
                <a
                  routerLink="/auth/login"
                  class="text-decoration-none forgot-password"
                  >Login now?</a
                >
              </div>
              <button
                type="submit"
                class="btn text-capitalize fw-semibold text-white w-100"
                [ngClass]="{'disabled btn-inactive': !requestResetPasswordForm.valid,
                'btn-active':requestResetPasswordForm.valid,}"
              >
                Send
              </button>
            </form>
          </div>
        </div>
      </dir>
    </div>
  </div>
</section>
