<section class="main mb-5">
  <div class="row align-items-center">
    <div class="col-md-7">
      <div class="px-5">
        <h1 class="text-white h">Welcome <span>{{userName}}!</span></h1>
        <p class="w-75 text-white">
          This is a welcoming screen for the entry of the application , you can
          now see the options
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="./assets/images/eating vegan food-rafiki.png"
        class="w-100"
        alt="eating vegan"
      />
    </div>
  </div>
</section>
<section class="secondary py-3">
  <div class="row">
    <div class="col-md-6">
      <div class="px-5">
        <h2>Fill the <span>recipes !</span></h2>
        <p>
          You can now fill the meals easily using the table and form , click
          here and sill it with the table !
        </p>
      </div>

    </div>
    <div class="col-md-6">
      <div class="px-5 h-100 d-flex align-items-center justify-content-end">
        <button class="btn text-white px-2">
          Fill recipes
          <span>
            <i class="fa-solid fa-arrow-right ms-2"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
