
$main-color: #4aa35a;


section {
  .icon-close {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      color: red;
      border: 1px solid red;
      transition: 0.4s;
      &:hover {
        color: #fff;
        background-color: red;
      }
    }
  }
.add-to-favorite {
border: 1px solid $main-color;
color: $main-color;
transition: all 0.4s;
border-radius: 6px;
background-origin: #fff;
&:hover {
  background-color: $main-color;
  color: #fff;
}
}
}
